

h1 {
  position: fixed;
  top: 10%;
  left: 35%;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

section {
  text-align: center;
  display: inline-block;
}

body {
  background-color: lightblue;
  /*text-align: center;*/

}

button{
  position: fixed; /* or absolute */
  top: 50%;
  left: 45%;
  cursor: pointer;
}

#landing {
  /*text-align: center;
  display: inline-block;
  vertical-align: middle;*/
}

.landCone {
  position: fixed;
  top: 30%;
  left: 20%;

}


.landCone1 {
  position: fixed;
  top: 30%;
  left: 70%;
}


#gameView{
  display: none;

}

.cone {
  position: absolute;
  text-align: center;
  bottom: 10px;
  z-index: -1;
  /*height: 50px;*/
  /*width: 30px;*/
}

#iceCreamScoop {
  display: none;
  /*width: 20px;
  height: 20px;*/
}

#scoo{
  position: absolute;
  /*bottom: 50px;*/
  /*left: 20px;*/
}

.scoop{
  position:absolute;
  /*z-index: 5;*/
}

#scoop {
  position:absolute;
  /*left: 100px;*/

}

#scoop1{
  position:absolute;
  left: 80px;
  /*z-index: 5;*/
}

#scoop2{
  position:absolute;
  left: 150px;
  /*z-index: 5;*/
}

#scoop3{
  position:absolute;
  left: 200px;
  /*z-index: 5;*/
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
}

#cone{
      position: absolute;
    }



.cone, .move {

  /*width: 200px;*/

}

#formView {
  display: none;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 35%;

}



@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    h1 {
      position: fixed;
      font-size: 20px;
      top: 10%;
      left: 30%;
    }
    .landCone {
      position: fixed;
      top: 30%;
      left: 10%;
      /*left: 300px;
      top: 100px;*/
      /*width: 50px;
      height: 110px;*/
    }

    button{
      position: fixed; /* or absolute */
      top: 50%;
      left: 42%;
      cursor: pointer;
    }


    .landCone1 {
      position: fixed;
      top: 30%;
      left: 70%;
    }

    #cone{
      position: absolute;
    }


}
